global
  daemon

defaults
  mode tcp
  timeout connect 5s
  timeout client  30s
  timeout server  30s

frontend {{ haproxy_frontend | default('db') }}
  bind *:{{ haproxy_port | default(4000) }}
  default_backend db_nodes

backend db_nodes
  balance roundrobin
{% for backend in haproxy_backends.split(',') %}
  server node{{ loop.index }} {{ backend }} check inter 2s
{% endfor %}
