apiVersion: pingcap.com/v1alpha1
kind: TidbCluster
metadata:
  name: tidb-poc
  namespace: tidb-cluster
spec:
  version: "{{ tidb_version }}"
  timezone: Asia/Taipei
  pvReclaimPolicy: Retain
  enableDynamicConfiguration: true
  configUpdateStrategy: RollingUpdate
  discovery: {}
  helper:
    image: alpine:3.16.0

  pd:
    baseImage: pingcap/pd
    maxFailoverCount: 0
    replicas: 3
    storageClassName: local-path
    requests:
      storage: 10Gi
    config:
      replication.max-replicas: 3
{% if k8s_resource_limits | default(false) | bool %}
    limits:
      cpu: "1"
      memory: 2Gi
    requests:
      cpu: "500m"
      memory: 1Gi
      storage: 10Gi
{% endif %}

  tidb:
    baseImage: pingcap/tidb
    maxFailoverCount: 0
    replicas: 2
    service:
      type: NodePort
      mysqlNodePort: 30004
    config: {}
{% if k8s_resource_limits | default(false) | bool %}
    limits:
      cpu: "1"
      memory: 3Gi
    requests:
      cpu: "500m"
      memory: 1Gi
{% endif %}

  tikv:
    baseImage: pingcap/tikv
    maxFailoverCount: 0
    evictLeaderTimeout: 1m
    replicas: 3
    storageClassName: local-path
    requests:
      storage: 30Gi
    config:
      storage.reserve-space: "0MB"
      rocksdb.max-open-files: 256
      raftdb.max-open-files: 256
{% if k8s_resource_limits | default(false) | bool %}
    limits:
      cpu: "2"
      memory: 8Gi
    requests:
      cpu: "1"
      memory: 4Gi
      storage: 30Gi
{% endif %}
