---

- hosts: all
  gather_facts: true

  roles:
    - role: 0_import_all_vars
    - basic_config_for_ssh_config
    - basic_config_for_import_ssh_key
    - basic_config_for_os
    - basic_config_for_build_data_volumn
#    - show_staging_mgmt_fqdn
#    - show_prod_mgmt_fqdn
#    - show_drsite_mgmt_fqdn
#
#    - maintain_check_ssh_hosts
#    - maintain_update_inventory

#    - maintain_nmap_collector_subnet_ip

#    - maintain_gen_cmdb
#    - role: 3_commit_to_github
#      repo_name: "dba-documents"
#      repo_github: "https://github.com/104corp/{{ repo_name }}.git"
#      repo_path: "/tmp/{{ repo_name }}"
#      commit_path: "/tmp/{{ repo_name }}/X.DB_ALL_Info/0_Genrate_by_Ansible/{{target_env}}"
#      filenames:
#        - "{{ commit_path }}/iplist"
#        - "{{ commit_path }}/iplist_ssh"
#        - "{{ commit_path }}/iplist_other"
#        - "{{ commit_path }}/iplist_proxysql"
#        - "{{ commit_path }}/iplist_rdbms"
#        - "{{ commit_path }}/iplist_mongodb"
#        - "{{ commit_path }}/iplist_redis"
#        - "{{ commit_path }}/iplist_redis_tls"
#        - "{{ commit_path }}/cmdb.html"

#    - maintain_gen_hostname
#    - role: 3_commit_to_github
#      repo_name: "dba-documents"
#      repo_github: "https://github.com/104corp/{{ repo_name }}.git"
#      repo_path: "/tmp/{{ repo_name }}"
#      commit_path: "/tmp/{{ repo_name }}/X.DB_ALL_Info/0_Genrate_by_Ansible/{{target_env}}"
#      filenames:
#        - "{{ commit_path }}/iplist_hostname.yml"

#    - maintain_check_mgmt_fqdn_registered
#    - maintain_check_ssh_hosts
#    - role: 1_notify_to_teams
#      vars:
#        message: "XXXXXXXXXX"
#  tasks:
#    - name: Print all host variables
#      ansible.legacy.debug:
#        var: hostvars[inventory_hostname]
